.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* navber design start here */

.nav-heading h1{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu a{
    flex-direction: none;
    color: white;
    padding: 5px 10px;
    background-color: transparent;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 1.2rem;
}


/* navber design end here */

/* profile design start here */

.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
}

.profile .weather-icon-top{
    right:100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .weather-icon-top:hover{
    width: 140px;
}

.profile .weather-icon-bottom{
    bottom: 20px;
    left:140px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .weather-icon-bottom:hover{
    width: 140px;
}
/* profile design end here */


/* about me design start here  */

.cv-button{
    text-align: center;
    width: 150px;
}

.contact button{
    
    width: 150;
}

.about-me-img{
     margin-top: 100px;
}
.about-me-img img{
    height: 270px;
    width: 250px;
}
.about-desc p{
    text-align: left;
}
/* about me design start here  */


/* professional-experience start here */

.professional-experience{
    padding: 1% 5%;
}

/* professional-experience ends here */

/* achievement design start here */
.achievement{
    
    padding-right: 50px;
    
}

.media-button {
    width: 150px;
  
}
.contact-links{
    position:relative; 
    
}

contact-links i{
    margin-left:50%;
    margin-top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


/* achievement design ends here */

/* footer design start here */
  .footer-menu{
      margin-top: 12px;
  }
  .footer-menu a{
      display: inline;
      margin: 10px;
  }
/* footer design ends here */
